@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    
}

:root{

    --black : black;
    --black10 : rgb(177, 177, 177);
    --black80 : rgb(24, 24, 24);


    --white : white;
    --gray10 : rgb(240, 240, 240);

    --primaryColor : var(--black);
    --bgPrimary : var(--primaryColor);

    --bg1 : var(--white);
    --bg2 : var(--gray10);


    --text : var(--black);
    --border : var(--gray10);
}

body{
    background-color: var(--bg2);
    width: 100%;
    overflow-x: hidden;



}

::-webkit-scrollbar{
    width: 0.6rem;
    background-color: var(--bg1);
}

::-webkit-scrollbar-thumb{
    background-color: black;
}


.dark{
    --text : var(--white);
    --bg1 : var(--black80);
    --bg2 : var(--black);
    --border : none;
}